body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #f4f7f6;
  color: #2d3436;
}

input, select, button {
  font-family: inherit;
  font-size: 14px;
}

button:hover {
  filter: brightness(90%);
  transition: 0.2s;
}